@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@700&display=swap');

body {
    margin-top: 80px;
    font-family: 'Inclusive Sans', Arial, sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Source Serif Pro', serif;
    font-weight: 700;
    font-size: 3rem;
    margin-top: 100px;
}

h2 {
    text-align: center;
    font-family: 'Inclusive Sans', Arial, sans-serif;
    font-size: 1.3rem;
    margin-top: -20px;
    font-weight: 400;
}

.navbar, .footer-navbar {
    background: #a70000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    position: fixed;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
    padding: 0 30px;
    font-size: 1rem;
}

.navbar { top: 0; }
.footer-navbar { bottom: 0; justify-content: center; padding: 20px 0; }

.logo { margin-right: 20px; }

.nav-links {
    display: flex;
    gap: 5px;
    justify-content: center;
    flex: 1;
}

.nav-links a, .footer-navbar a {
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
    font-size: 1rem;
}

.nav-links a:not(:last-child)::after {
    content: "|";
    color: #fff;
    margin-left: 15px;
    font-weight: bold;
}

.registrarse-boton, .jugar-boton {
    padding: 10px 20px;
    background: #ff0000;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.2rem;
}

.botones-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;
}

.casino-images {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 20px 0 80px 0;
    gap: 20px;
}

.casino-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.casino-item img {
    border-radius: 15px;
    width: 250px;
    height: auto;
    margin-bottom: 10px;
}

.casino-item p {
    text-align: center;
    font-family: 'Inclusive Sans', Arial, sans-serif;
    font-size: 1rem;
    color: #000;
    margin: 0;
}

.footer-navbar span {
    color: #fff;
    margin: 0 10px;
    font-weight: bold;
}